/*
Colours
*/
$color-black: #1d1d1d;
$color-white: #f1eeee;
$color-red: #e55353;
$color-blue: #5f86ea;
$color-grey: #5a6178;
$color-app-background: #e5e5e5;
$color-screen-background: #2e3235;
$color-screen-inner-background: #2e3235;

/*
Border radius
*/
$br1: 8px;


$height-screen: 504px;
$width-screen: 884px;
$height-screen-inner: 404px;
$width-screen-inner: 748px;
$height-joystick: 75px;
$width-joystick: 75px;
