@use 'src/styles' as  *;

.ng-switch-controller {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 44px;
  height: 504px;
  width: 172px;

  // Top of the controller

  &__top {
    display: grid;
  }

  &__top-button {
    background: $color-black;

    &--left {
      justify-self: flex-end;
      width: 10px;
      height: 3px;
      transform: scale(4);
      margin: 36px 32px 0 32px;
      box-shadow: 0px 1px 0px rgba($color-black, 0.25);
    }

    &--right {
      // TODO: Refactor one day :)
      position: relative;
      width: 52px;
      height: 52px;
      background: $color-red;
      margin: 20px 32px 0 12px;

      &::before {
        content: "";
        position: absolute;
        background: $color-black;
        left: 50%;
        top: 4px;
        bottom: 4px;
        transform: translateX(-50%);
        width: 10px;
        box-shadow: 0px 4px 0px rgba($color-black, 0.25);
      }

      &::after {
        content: "";
        position: absolute;
        background: $color-black;
        top: 50%;
        left: 4px;
        right: 4px;
        height: 10px;
        transform: translateY(-50%);
        box-shadow: 0px 4px 0px rgba($color-black, 0.25);
      }
    }
  }

  // Middle of the controller

  &__middle {
    display: grid;
    place-items: center;

    &--left {
      grid-template-areas:
        "joystick joystick"
        "up up"
        "left right"
        "down down";

      app-joystick {
        margin-bottom: 32px;
        margin-top:8px;
      }
    }

    &--right {
      grid-template-areas:
        "up up"
        "left right"
        "down down"
        "joystick joystick";

      app-joystick {
        margin-top: 32px;
      }
    }

    app-joystick {
      grid-area: joystick;
    }

    app-button:nth-of-type(1) {
      grid-area: up;
    }

    app-button:nth-of-type(2) {
      grid-area: left;
    }

    app-button:nth-of-type(3) {
      grid-area: right;
    }

    app-button:nth-of-type(4) {
      grid-area: down;
    }
  }

  // Bottom of the controller
  
  &__bottom {
    display: flex;
    align-items: flex-end;
    padding-bottom: 48px;

    &--left {
      justify-content: flex-end;
      padding-right: 24px;

      &::ng-deep {
        button {
          border-radius: 4px;
        }
      }
    }

    &--right {
      justify-content: flex-start;
      padding-left: 24px;
    }
  }

  &--left {
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    background: $color-blue;
    transform: translateX(6px);
    border: 8px solid $color-black;
    box-shadow: inset 40px -40px 0px rgba($color-white, 0.09),
      inset 12px 16px 0px rgba($color-white, 0.4),
      inset 0px -20px 0px rgba($color-black, 0.25);

    &::after {
      border: 8px solid $color-black;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 400px;
      background: #2e3235;
      right: -30px;
      position: absolute;
      box-shadow: inset -4px 0px 0px rgba($color-white, 0.25);
      border-top-right-radius: $br1;
      border-bottom-right-radius: $br1;
    }
  }

  &--right {
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 8px solid $color-black;
    box-shadow: inset -40px -32px 0px rgba($color-black, 0.05),
      inset 0px 16px 0px rgba($color-white, 0.2),
      inset -12px -20px 0px rgba($color-black, 0.25);
    background: $color-red;
    transform: translateX(-8px);

    &::after {
      content: "";
      background: rgba($color-black, 0.75);
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 12px;
      height: 400px;
      border: $br1 solid $color-black;
      position: absolute;
      box-shadow: inset -4px 0px 0px rgba($color-white, 0.25);
      border-top-left-radius: $br1;
      border-bottom-left-radius: $br1;
      z-index: 1;
    }
  }
}

.ng-switch-controller-trigger {
  position: absolute;
  top: -14px;
  width: 140px;
  height: 120px;
  border: 8px solid $color-black;
  background: $color-grey;
  box-shadow: inset -100px 40px 0px rgba($color-black, 0.25);
  z-index: -1;

  &--left {
    left: -14px;
    border-radius: 1200px 60px;
    box-shadow: inset -100px 40px 0px rgba($color-white, 0.3);
    transform: translateX(6px);
  }

  &--right {
    border-radius: 60px 1200px;
    right: -14px;
    box-shadow: inset 100px 40px 0px rgba($color-white, 0.3);
    transform: translateX(-8px);
  }
}
